.hotel-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 2rem;
}
.hotel-details p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}