/* SingleHotelPage.css */
.single-hotel-page {
    padding: 2rem 0;
}

.hotel-details-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
}

.hotel-details {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.hotel-name h1 {
    margin-bottom: 1rem;
    color: #343a40;
    font-size: 2.5rem;
}

.hotel-main-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.hotel-details p {
    color: #495057;
    font-size: 1.2rem;
}

.hotel-details h2 {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: #343a40;
}

.hotel-details ul {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
}

.hotel-details li {
    margin-bottom: 0.5rem;
    color: #6c757d;
    font-size: 1.2rem;
}
/* SingleHotelPage.css */
/* ... previous styles ... */

.booking-form {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.booking-form h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #343a40;
}

.booking-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #495057;
    font-size: 1.2rem;
}

.booking-form select,
.booking-form input {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.75rem;
    border: none;
    border-bottom: 2px solid #007bff;
    background-color: transparent;
    color: #495057;
    font-size: 1.2rem;
    transition: border-bottom 0.3s ease;
}

.booking-form select:focus,
.booking-form input:focus {
    outline: none;
    border-bottom: 2px solid #0056b3;
}

.calculated-cost {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #343a40;
}

.booking-form button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.booking-form button:hover {
    background-color: #0056b3;
}
